<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Tickets</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css" />
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<nav class="navbar" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-primary has-text-weight-bold" href="https://earningtrick.in/">
   EarningTrick.in
    </a>

    <a class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://earningtrick.in/">
        Home
      </a>

      

<a class="navbar-item" href="https://earningtrick.in/my-account/wallet/">Wallet</a>
          <a class="navbar-item" href="https://earningtrick.in/my-account/">
         Account
        </a>

          <a class="navbar-item" href="https://earningtrick.in/refer-and-earn.html">
          Referral
        </a>
       
        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Shop
        </a>

        <div class="navbar-dropdown">
        	  <a class="navbar-item" href="https://earningtrick.in/shop">
            All
          </a>
          <a class="navbar-item" href="https://earningtrick.in/product-category/paytm/">
            PayTM Transfer
          </a>
          <a class="navbar-item" href="https://earningtrick.in/product-category/bank-cash/">
            Bank Transfer
          </a>
          
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item"><div class="as">
            <a class="button is-light" href="https://earningtrick.in/cart">
            <i class="fas fa-shopping-cart"></i>
         </a>   <a class="button is-primary" href="https://earningtrick.in/search.html">
                           <i class="fas fa-search"></i>
                        </a>
                           <a class="button is-primary" href="https://earningtrick.in/subscription-plan.html">Upgrade!</a>
        </div>
      </div>
    </div>
  </div>
</nav>	
	
<section class="section"><div class="container">
	<h1 class="title">My Tickets</h1>
	<h3 class="subtitle">Hi {{ name }}!</h3>
	<span class="tag is-primary is-light">{{ p }} Priority</span>
	
	<hr>
	<table class="table is-fullwidth">
	<thead>
	<th>Id</th><th>Title</th><th>Created on</th><th>Status</th><th></th>
	</thead>
	<tbody>
	{% for ticket in tickets %}
	<tr>
	<td>{{ ticket['code'] }}</td>
	<td>{{ ticket['subject'] }}</td>
	<td>{{ ticket['datecreated'] }}</td>
	<td>{% if ticket['status']=='N' %}
	<span class="tag is-light is-warning">New</span>
	{% elif ticket['status']=='R' %}
	
	<span class="tag is-light is-success">Resolved</span>
	
	{% elif ticket['status']=='C' %}
	
	<span class="tag is-light is-danger">Closed</span>
	
	{% elif ticket['status']=='A' %}
	<span class="tag is-light is-success">Answered</span>
	
	{% endif %}
	
	</td>
	<td><a class="button is-small is-primary" href="/ticket/{{ ticket['conversationid'] }}"><i class="fas fa-arrow-circle-right" aria-label="more details"></i></a></td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	
</div></section>
</body>
</html>
