<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ticket Details - #{{ data['code'] }}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css" />
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="section"><div class="container">
	<h1 class="title">{{ data['subject'] }}</h1>
	<h3 class="subtitle is-6">ID: #{{ data['code'] }}</h3>
	{% if data['status']=='N' %}
	<span class="tag is-light is-warning">New</span>
	{% elif data['status']=='R' %}
	
	<span class="tag is-light is-success">Resolved</span>
	
	{% elif data['status']=='C' %}
	
	<span class="tag is-light is-danger">Closed</span>
	
	{% elif data['status']=='A' %}
	<span class="tag is-light is-success">Answered</span>
	
	{% endif %}
	<br>
	<p>Made on: {{ data['datecreated'] }}</p>
	<p>Response on: {{ data['datechanged'] }}</p>
	<hr>
	<p class="title is-6 has-text-weight-bold">Latest Update:</p><br>
	<p>{{ data['preview'] }}</p>
</div></section>
</body>
</html>
