<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ticket Details - #{{ data['code'] }}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css" />
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

	
<section class="section"><div class="container">
	<h1 class="title">{{ data['subject'] }}</h1>
	<h3 class="subtitle is-6">ID: #{{ data['code'] }}</h3>
	{% if data['status']=='N' %}
	<span class="tag is-light is-warning">New</span>
	{% elif data['status']=='R' %}
	
	<span class="tag is-light is-success">Resolved</span>
	
	
	{% elif data['status']=='A' %}
	<span class="tag is-light is-success">Answered</span>
	
	{% elif data['status']=='C' %}
	<span class="tag is-light is-warning">Open</span>
	
		{% elif data['status']=='X' %}
	<span class="tag is-light is-danger">Deleted</span>
	{% endif %}
	<br>
	<p>Made on: {{ data['datecreated'] }}</p>
	<p>Response on: {{ data['datechanged'] }}</p>
	<hr>
	<p class="title is-6 has-text-weight-bold">Reply:</p>
	{% if data['status']=='C' or data['status']=='N' %}
	<form class="field has-addons" action="/reply/{{ data['code'] }}/">
  <div class="control">
    <input class="input" type="text" name="message">
  </div>
  <div class="control">
    <button type="submit" class="button is-primary">
      <i class="fas fa-angle-double-right"></i>
    </button>
  </div>
</form>
{% else %}
You can only reply to open or new tickets
{% endif %}
	<hr>
	<p class="title is-6 has-text-weight-bold">Latest Updates:</p><br>
	
	
	
	
	
	<div>
	{% for detail in details %}
		
	
	
	{% if detail['rtype']=='S' %}
	<div class="tag is-info">
	Ticket Created
	</div>
	
	{% elif detail['rtype']=='X' %}
	<div class="tag is-danger">
	Ticket Deleted
	</div>

	
	{% elif detail['rtype']=='R' %}
	
	{% for msg in detail['messages'] %}
	{% if msg['rtype']=='T' %}
	<div class="tag is-link">{{ msg['message'] }}</div>
	{% elif msg['rtype']=='N' %}
	<div class="box">{{ msg['message'] }}</div>
	{% endif %}
	{% endfor %}
	
	
	{% elif detail['rtype']=='M' or detail['rtype']=='I' %}
	<div class="tag is-primary">Message</div>
	<div class="box">
	{% for msg in detail['messages'] %}
	{% if msg['rtype']=='F' %}
	<div class="tag is-primary"><i class="fas fa-paperclip"></i> File</div>
	
	{% elif msg['rtype']=='M' or msg['rtype']=='N' %}
	<p>
	{% autoescape false %} 
	{{ msg['message'] | replace('\n', '<br>') }}
	{% endautoescape %}
	</p>
	{% elif msg['rtype']=='Z' %}{% if not 'email' in msg['message'] %}
		<div class="tag is-primary is-light">You</div>{% endif %}
	{% elif msg['rtype']=='T' and msg['message']=='wrote note' %}
		<div class="tag is-primary is-light">You</div>
	{% endif %}
	{% endfor %}
	</div>
	{% endif %}<br>
	{% endfor %}
	</div>
</div></section>
</body>
</html>
